@tailwind base;

@layer base {
  /*@font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenir-bold.woff') format('woff'), url('../fonts/avenir-bold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
  }

  @font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenir-medium.woff') format('woff'), url('../fonts/avenir-medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenir-regular.woff') format('woff'), url('../fonts/avenir-regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }*/

  html {
    font: 87.5%/1.5 'sans'; /*14px*/
  }

  html,
  body {
    overflow-x: hidden;
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
    @apply font-sans;
  }

  p,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li {
  }

  h1 {
    @apply text-68;
    @apply font-extrabold;
  }

  h2 {
    @apply text-30;
    @apply font-medium;
  }

  h3 {
    @apply text-26;
    @apply font-medium;
  }

  h4 {
    @apply text-20;
    @apply font-medium;
  }

  h5 {
  }

  h6 {
  }

  a {
  }

  ul {
  }

  ol {
  }

  nav {
  }

  label {
    display: block;
    position: relative;
    width: fit-content;
    cursor: pointer;
  }

  label[data-required='true']::after {
    content: '*';
    position: absolute;
    top: 0;
    right: -7px;
    color: red;
  }

  b {
  }

  em {
  }

  i {
  }

  small {
  }

  strong {
  }

  sub {
  }

  sup {
  }

  ins {
  }

  del {
  }

  mark {
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  hr {
    background: grey;
    margin: 1rem 0;
  }
  button,
  button:focus,
  button:active {
    outline: none;
    transition: all 0.2s ease;
  }
  svg {
    transition: all 0.2s ease;
  }
  * {
    outline: none;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  svg {
    transition: all 0.2s ease;
  }
  * {
    outline: none;
  }
}

@tailwind components;

@layer components {
  .btn {
    @apply px-4 flex overflow-hidden whitespace-nowrap text-14 break-normal items-center justify-center font-medium cursor-pointer select-none rounded-lg;
  }
}

@tailwind utilities;

@layer utilities {
  .absolute_vertical_center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@tailwind screens;
